# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
collections = db.list_collection_names()
for collection in collections:
    print(collection)

establishments

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = db.establishments.count_documents(query)
print("Number of establishments with a hygiene score of 20:", count)

# Display the first document in the results using pprint
result = db.establishments.find_one(query)
print("First document with a hygiene score of 20:")
pprint(result)

Number of establishments with a hygiene score of 20: 0
First document with a hygiene score of 20:
None

In [8]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(db.establishments.find(query)))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"LocalAuthorityName": "London", "RatingValue": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
count = db.establishments.count_documents(query)
print("Number of establishments in London with RatingValue greater than or equal to 4:", count)

# Display the first document in the results using pprint
result = db.establishments.find_one(query)
print("First document in London with RatingValue greater than or equal to 4:")
pprint(result)

In [10]:
# Convert the result to a Pandas DataFrame
dfs = pd.DataFrame(list(db.establishments.find(query)))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(dfs))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(dfs.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [13]:
# Define the latitude and longitude values
latitude = 51.49014200
longitude = 0.08384000
degree_search = 0.01

# Define the query
query = {
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
    "RatingValue": 5
}

# Define the sort
sort = [("scores.Hygiene", 1)]  # 1 for ascending order, -1 for descending order

# Define the limit
limit = 10  # Limit the results to 10 documents

# Find the establishments matching the query, sorted by hygiene score, and limited to 10 documents
results = db.establishments.find(query).sort(sort).limit(limit)

# Print the results
for result in results:
    pprint(result)

In [12]:
# Convert result to Pandas DataFrame
df3 = pd.DataFrame(list(results))

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [14]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results
from bson import ObjectId

pipeline = [
    # Match establishments with a hygiene score of 0
    {"$match": {"scores.Hygiene": 0}},
    # Group by Local Authority
    {"$group": {"_id": "$LocalAuthorityName", "count": {"$sum": 1}}},
    # Sort by count in descending order
    {"$sort": {"count": -1}}
]

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame